.Addmodal{
    /* margin-top: 5% !important; */
    text-align: center;
    z-index: 1000000000;
    background: url("https://www.wallpaperup.com/uploads/wallpapers/2015/12/12/859126/5b431ce5733d1553d3b7bf0efc11412e-700.jpg");
}
.co{
    color: white !important;
}
.nav{
    background: transparent !important;
}